<br />
<%= form_with(model: appointment, local: true) do |f| %>
Day:<%= select_tag :wek_id, options_from_collection_for_select(Wek.all, 'id', 'name') %>
Time:<%= select_tag :doctor_id, options_from_collection_for_select(Doctor.all, 'id', 'start_time') %>
Doctor Name:<%= select_tag :person_name_id, options_from_collection_for_select(PersonName.all, 'id', 'name') %>
  <button type="submit" class="btn">Submit</button>
<%end%>